<div class="container">
    <mat-grid-list cols="3" rowHeight="350px">
        <mat-grid-tile colspan="1" rowspan="1" [style.background]="green">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Water overall Consumption</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/Water overall Consumption.png" alt="Photo of a Shiba Inu">
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" [style.background]="blue">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Change in Energy Consumption</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/Change in Energy Consumption.png" alt="Photo of a Shiba Inu">
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" [style.background]="red">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Change in Water Consumption</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/Change in Water Consumption.png" alt="Photo of a Shiba Inu">
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" style.background="yellow">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Energy Consumption Summary</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/Energy Consumption Summary.png" alt="Photo of a Shiba Inu">
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>This Year Consumption</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/This Year Consumption.png" alt="Photo of a Shiba Inu">
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>